$black: #22292f;
$grey-95: #f0f1f2;
$grey-lightest: #f8fafc;

$step-1: 0.25rem;
$step-2: 0.5rem;
$step-4: 1.0rem;
$step-6: 1.5rem;

$semibold: 600;

$full: 100%;
$half: 50%;

pre {
  padding: 0 $step-4 0 $step-4;
  margin-top: $step-6;
  margin-bottom: $step-6;
  border-left: $grey-95 $step-1 solid;
}

table {
  width: $full;
  text-align: left;
  border-collapse: collapse;
  margin: $step-6 0;
}

th {
  font-weight: $semibold;
  padding: $step-2;
  background-color: $grey-lightest;
}

td {
  padding: $step-2;
  border-top: $grey-95 1px solid;
}
