version: 2

jobs:
    build:
        docker:
            - image: thomashoneyman/purescript:0.0.1
        parallelism: 4
        working_directory: ~/select
        steps:
            - checkout

            - restore_cache:
                keys:
                    - v1-bower-cache-{{ arch }}-{{ .Branch }}-{{ checksum "bower.json" }}
                    - v1-bower-cache-{{ arch }}-{{ .Branch }}
                    - v1-bower-cache

            - restore_cache:
                keys:
                    - v1-npm-cache-{{ arch }}-{{ .Branch }}-{{ checksum "package.json" }}
                    - v1-npm-cache-{{ arch }}-{{ .Branch }}
                    - v1-npm-cache

            - run:
                name: Install dependencies from NPM and Bower...
                command: npm install && bower install

            - save_cache:
                key: v1-bower-cache-{{ arch }}-{{ .Branch }}-{{ checksum "bower.json" }}
                paths:
                    - ~/select/bower_components

            - save_cache:
                key: v1-npm-cache-{{ arch }}-{{ .Branch }}-{{ checksum "package.json" }}
                paths:
                    - ~/select/node_modules
                      
            - restore_cache:
                keys:
                    - v1-build-cache

            - run:
                name: Build the base component...
                command: pulp build

            - save_cache:
                key: v1-build-cache
                paths:
                    - ~/select/output

            # Verify all examples successfully build...  
            - run:
                name: Build all examples...
                command: ./.circleci/run-examples.sh


# Should be expanded to include tests and example repos                      
workflows:
    version: 2
    build:
        jobs:
            - build
