version: 2

defaults: &defaults
  working_directory: ~/select
  docker:
    - image: thomashoneyman/purescript:0.0.3

jobs:
  test:
    <<: *defaults
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1.4.0-bower-cache-{{ .Branch }}-{{ checksum "bower.json" }}
            - v1.4.0-bower-cache-{{ .Branch }}
            - v1.4.0-bower-cache

      - restore_cache:
          keys:
            - v1.4.0-yarn-cache-{{ .Branch }}-{{ checksum "package.json" }}
            - v1.4.0-yarn-cache-{{ .Branch }}
            - v1.4.0-yarn-cache

      - run:
          name: Install dependencies from Yarn and Bower
          command: yarn

      - save_cache:
          key: v1.4.0-bower-cache-{{ .Branch }}-{{ checksum "bower.json" }}
          paths:
            - ~/select/bower_components
            - ~/select/output

      - save_cache:
          key: v1.4.0-yarn-cache-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - ~/select/node_modules

  site:
    working_directory: ~/select
    docker:
      - image: docker
    steps:
      - checkout

      # Necessary to use Docker commands
      - setup_remote_docker

      - run:
          name: Run site generation
          command: |
            docker run --rm -v ${PWD}/docs squidfunk/mkdocs-material build

      # Persist the dist folder
      - persist_to_workspace:
          root: site
          paths:
            - .

  docs:
    <<: *defaults
    steps:
      - checkout

      - run:
          name: Prepare branches by checking both out locally
          command: |
            git checkout gh-pages
            git checkout master

      - run:
          name: Set up gh-pages for build artifacts
          command: |
            mkdir ../gh-pages
            git worktree add ../gh-pages gh-pages

      - attach_workspace:
          at: site

      # Enable building docs
      - add_ssh_keys:
          fingerprints:
            - "bf:0e:a0:9d:37:6e:40:34:3c:72:90:f5:c8:93:cd:a5"

      - run:
          name: Copy over files to gh-pages branch
          command: |
            cp -r site/. ../gh-pages
            cp -r .circleci/. ../gh-pages/.circleci

      - run:
          name: Push update to GitHub
          command: |
            cd ../gh-pages
            git config --global user.email "admin@thomashoneyman.com"
            git config --global user.name "CircleCI Build"
            git add .
            git commit --allow-empty -m "Build triggered by CircleCI"
            git push -u origin gh-pages

workflows:
  version: 2
  build:
    jobs:
      - test:
          filters:
            branches:
              ignore: gh-pages

      # On master branch, rebuild docs
      - site:
          # filters:
          #   branches:
          #     only: master

          requires:
            - test

      - docs:
          filters:
            branches:
              only: master

          requires:
            - site
